{% extends 'navigation.html' %}
{% block body %}
{% load static %}
<style>
    /* Custom CSS styles */
    body {
        background-image: url("{% static 'images/Milk.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        /* You can keep other existing styles for the body */
    }
    .container {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .form-container {
        background-color: rgba(255, 255, 255, 0.2); /* Adjust opacity as needed */
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        width: 100%;
        color: white; /* Change text color to white */
    }
    h2 {
        color: white; /* Change heading color to white */
        text-align: center;
    }
    label {
        color: white; /* Change label color to white */
    }
    input[type="password"] {
        border: 1px solid white; /* Change input border color to white */
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        margin-bottom: 20px;
        color: black; /* Change input text color to black */
    }
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        width: 100%;
        color: white; /* Change button text color to white */
    }
    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
</style>

<div class="container">
    <div class="form-container">
        <h2>Change Password</h2>
        <hr>
        <form method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="oldPassword">Old Password</label>
                <input type="password" class="form-control" id="oldPassword" name="pwd3">
            </div>

            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control" id="newPassword" name="pwd1">
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="pwd2">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    {% ifequal error "yes" %}
    <script>
        alert('Password Changed.....');
        window.location=('{% url 'logout' %}')
    </script>
    {% endifequal %}
    {% ifequal error "not" %}
    <script>
        alert('New Password and Confirm Password are not match');
    </script>
    {% endifequal %}
</div>

{% endblock %}
